name: CD (Backend - Docker Build & Push)

on:
  push:
    branches:
      - "main"
      - "develop"
      - "feature/**"
    paths:
      - "backend/**"
      - ".github/workflows/**"

jobs:
  docker-build-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push (multi-arch)
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            yeonwoo02/ddip-backend:latest
            yeonwoo02/ddip-backend:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max